<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="descrition" content="Moja prva vizitka">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_about.css')}}">
    <title>David Ožura</title>
</head>

<body>
    <img src="https://www.onko-i.si/fileadmin/_processed_/b/9/csm_logo_onkoloski_view_b21f8c6191.jpg" class="image">
    <br>
    <br>
    <p id="FireBrick">DAVID OŽURA</p>
    <p>vodja Strokovne knjižnice za onkologijo</p>
    <p>tel: +386 41 384441</p>
    <p>e-mail: <i>dozura@onko-i.si</i></p>
    <a id="FireBrick" href="https://www.onko-i.si/dejavnosti/raziskovalna-in-izobrazevalna-dejavnost/strokovna-knjiznica-za-onkologijo">Strokovna knjižnica za onkologijo</a>
</body>
</html>